<div th:fragment="sidebar">

  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-title" style="font-size: 18px; font-weight: 700;">
      Human Resources
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/dashboard/hr}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use></svg>
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/hr/employees}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-contact"></use></svg>
        Employee Profiles
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/hr/change-requests}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-task"></use></svg>
        Total Request
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/hr/documents}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-description"></use></svg>
        Documents
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
         th:href="@{/hr/job-positions}"
         th:classappend="${#strings.startsWith(currentUri, '/hr/job-positions')} ? 'active' : ''">
        <svg class="nav-icon">
          <use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-briefcase"></use>
        </svg>
        Job Positions
      </a>
    </li>

    <li class="nav-title">Evaluation & KPI</li>

    <li class="nav-group" th:classappend="${#strings.startsWith(currentUri, '/hr/kpi')} ? 'show' : ''">
      <a class="nav-link nav-group-toggle" href="#">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-task"></use></svg>
        KPI Configuration
      </a>
      <ul class="nav-group-items compact">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/hr/kpi/configure}" 
             th:classappend="${#strings.endsWith(currentUri, '/configure')} ? 'active' : ''">
            <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
            Send Template
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/hr/kpi/pending-verification}"
             th:classappend="${#strings.contains(currentUri, 'pending-verification')} ? 'active' : ''">
            <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
            Pending Verifications
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-title">RECRUITMENT MANAGEMENT</li>

    <li class="nav-group">
      <a class="nav-link nav-group-toggle" href="#">
        <svg class="nav-icon">
          <use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-people"></use>
        </svg>
        Recruitment Management
      </a>

      <ul class="nav-group-items">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/hr/recruitment-request/list}">
            <span class="nav-icon"></span>
            Recruitment Request List
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/hr/job-description}">
            <span class="nav-icon"></span>
            Job Description Management
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/hr/job-posting}">
            <span class="nav-icon"></span>
            Job Posting Management
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/interview}">
            <span class="nav-icon"></span>
            Interview Management
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/offer/list}">
            <span class="nav-icon"></span>
            Offer Pipeline
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/offer/manage}">
            <span class="nav-icon"></span>
            Offer Management
          </a>
        </li>

      </ul>
    </li>
  </ul>
</div>
