<div th:fragment="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <span class="fw-bold text-white px-3">MANAGER</span>
  </div>

  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-title">Manager</li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/dashboard/manager}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use></svg>
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/manager/team}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-group"></use></svg>
        My Team
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/manager/requests}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-check-circle"></use></svg>
        Approvals
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/manager/reports}">
        <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-chart-line"></use></svg>
        Reports
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/bank/portal}">Bank Portal</a>
    </li>
  </ul>
</div>
