<div th:fragment="sidebar">

    <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">
            <span class="fw-bold">HR DASHBOARD</span>
        </div>
    </div>

    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">

        <!-- Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/dashboard/hr}">
                <svg class="nav-icon"><use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use></svg>
                Dashboard
            </a>
        </li>

        <!-- ================= JOB POSTING ================= -->
        <li class="nav-title">Job Posting Management</li>

        <!-- LIST -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/hr/job-posting}">
                <svg class="nav-icon">
                    <use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-bullhorn"></use>
                </svg>
                Posting List
            </a>
        </li>

        <!-- CREATE -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/hr/job-posting/create}">
                <svg class="nav-icon">
                    <use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
                </svg>
                Create Posting
            </a>
        </li>

        <li class="nav-divider"></li>



    </ul>

</div>