/**
 * Theme Toggle Switch Styles
 */

.theme-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 24px;
}

.theme-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .theme-slider {
    background-color: #4a90e2;
}

input:focus + .theme-slider {
    box-shadow: 0 0 1px #4a90e2;
}

input:checked + .theme-slider:before {
    transform: translateX(20px);
}

.theme-slider:hover {
    background-color: #b0b0b0;
}

input:checked + .theme-slider:hover {
    background-color: #3a7bc8;
}
