<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h5>Request List</h5>
        </div>

        <div class="card-body">

            <table class="table table-bordered">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="req : ${requests}">

                    <td th:text="${req.id}"></td>

                    <td th:text="${req.requestType}"></td>

                    <td th:text="${req.startTime}"></td>

                    <td th:text="${req.endTime}"></td>

                    <td th:text="${req.reason}"></td>

                    <td>
                        <span th:text="${req.status}"
                              class="badge bg-warning">
                        </span>
                    </td>

                    <td>

                        <a th:href="@{/manager/requests/approve/{id}(id=${req.id})}"
                           class="btn btn-success btn-sm">
                            Accept
                        </a>

                        <a th:href="@{/manager/requests/reject/{id}(id=${req.id})}"
                           class="btn btn-danger btn-sm">
                            Reject
                        </a>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>
    </div>

</div>

</html>